body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* 흰색 배경 */
}

/* 중앙에 컨텐츠를 배치하는 스타일 */
.arrest-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  background: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; /* 위쪽으로 정렬 */
  height: 100vh;
  box-sizing: border-box;
  padding-top: 20px; /* 네비게이션 바와의 간격 */
}

.arrest-content {
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
}

.header {
  margin: 0 0 10px 0; /* 상단 마진을 없애기 위해 margin-top을 0으로 설정 */
  font-size: 25px;
  font-weight: bold;
}

.category-select {
  margin-bottom: 20px;
}

.sub-header {
  margin-bottom: 10px 0;
  font-size: 25px;
  font-weight: bold;
}

.upload-section {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  margin-bottom: 20px; /* Add margin bottom to create space for description */
}

.upload-container {
  width: 100%;
  height: auto;
}

.description {
  margin-bottom: 20px;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
