/* Card 제목의 스타일 */
.card-title {
  font-size: 26px; /* 제목 글씨 크기 */
  font-weight: bold;
}

/* Card 내용의 스타일 */
.card-content {
  font-size: 20px; /* 내용 글씨 크기 */
}

/* GradientButton의 스타일 */
.gradient-button.ant-btn-primary:not([disabled]):not(.ant-btn-dangerous) {
  border-width: 0;
}

.gradient-button.ant-btn-primary:not([disabled]):not(.ant-btn-dangerous)
  > span {
  position: relative;
}

.gradient-button.ant-btn-primary:not([disabled]):not(
    .ant-btn-dangerous
  )::before {
  content: "";
  background: linear-gradient(135deg, #6253e1, #04befe);
  position: absolute;
  inset: 0;
  opacity: 1;
  transition: all 0.3s;
  border-radius: inherit;
}

.gradient-button.ant-btn-primary:not([disabled]):not(
    .ant-btn-dangerous
  ):hover::before {
  opacity: 0;
}
