/* List.css */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* 흰색 배경 */
  height: 100%;
}

.card-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border-radius: 8px;
  background: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: calc(100vh - 120px); /* 네비게이션 바 및 여백 고려 */
  /* overflow-y: auto; 세로 스크롤 추가 */
}

.card {
  width: 100%;
  max-width: 800px; /* 카드의 최대 너비 설정 */
  margin-bottom: 16px;
  box-sizing: border-box; /* 박스 크기 계산 방식 설정 */
}

.card-title {
  font-size: 26px; /* 제목 글씨 크기 */
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 20px; /* 내용 글씨 크기 */
}

.gradient-button.ant-btn-primary:not([disabled]):not(.ant-btn-dangerous) {
  border-width: 0;
}

.gradient-button.ant-btn-primary:not([disabled]):not(.ant-btn-dangerous)
  > span {
  position: relative;
}

.gradient-button.ant-btn-primary:not([disabled]):not(
    .ant-btn-dangerous
  )::before {
  content: "";
  background: linear-gradient(135deg, #6253e1, #04befe);
  position: absolute;
  inset: 0;
  opacity: 1;
  transition: all 0.3s;
  border-radius: inherit;
}

.gradient-button.ant-btn-primary:not([disabled]):not(
    .ant-btn-dangerous
  ):hover::before {
  opacity: 0;
}
