@import url("https://webfontworld.github.io/seoulhangang/SeoulHangangC.css");
@font-face {
  font-family: "SeoulHangangC";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SeoulHangangC";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SeoulHangangC";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SeoulHangangC";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.ttf")
      format("truetype");
  font-display: swap;
}

body {
  font-family: "SeoulHangangC", sans-serif;
}

.my-page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: "SeoulHangangC", sans-serif;
  padding-bottom: 80px; /* 하단 여백 추가 */
  margin-top: 100px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* 이미지와 버튼 사이의 간격을 조절합니다. */
}

.profile-image {
  width: 200px; /* 사이즈 조정 */
  height: 200px; /* 사이즈 조정 */
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.name {
  font-size: 25px; /* 사이즈 조정 */
  font-weight: 700;
  margin-bottom: 0;
}

.title {
  font-size: 18px; /* 사이즈 조정 */
}

.profile-button {
  display: flex;
  justify-content: center;
}

.history-section {
  margin-bottom: 20px;
}

.history-section h2 {
  font-size: 20px; /* 사이즈 조정 */
  margin-bottom: 10px;
  text-align: left;
}

.history-section ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 16px; /* 사이즈 조정 */
  margin: 5px 0;
  text-align: left;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .my-page {
    width: 50%;
  }
}
/* styles.css */
.list-item-button {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  background-color: #1890ff; /* Ant Design Primary Color */
  color: white;
  border-radius: 4px;
  text-align: center;
  display: block;
  font-size: 16px;
  transition: background-color 0.3s;
  list-style-type: none; /* 리스트 스타일 제거 */
}

.list-item-button:hover {
  background-color: #40a9ff; /* Ant Design Hover Color */
}
