/* 전체 컨테이너 스타일 */
.register-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* 각 섹션 제목 스타일 */
.section-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* 폼 필드 스타일 */
.form-field {
  margin-bottom: 16px;
}

/* 업로드 버튼 스타일 */
.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  width: 104px;
  height: 104px;
  cursor: pointer;
}

.upload-button:hover {
  border-color: #1890ff;
}

/* Gradient 버튼 스타일 */
.gradient-button.ant-btn-primary:not([disabled]):not(.ant-btn-dangerous) {
  border-width: 0;
}

.gradient-button.ant-btn-primary:not([disabled]):not(.ant-btn-dangerous)
  > span {
  position: relative;
}

.gradient-button.ant-btn-primary:not([disabled]):not(
    .ant-btn-dangerous
  )::before {
  content: "";
  background: linear-gradient(135deg, #6253e1, #04befe);
  position: absolute;
  inset: 0;
  opacity: 1;
  transition: all 0.3s;
  border-radius: inherit;
}

.gradient-button.ant-btn-primary:not([disabled]):not(
    .ant-btn-dangerous
  ):hover::before {
  opacity: 0;
}

/* 버튼 그룹 스타일 */
.steps-action {
  display: flex;
  justify-content: space-between; /* 버튼들을 좌우로 배치 */
  margin-top: 20px; /* 버튼 그룹과 폼 사이에 간격 추가 */
}

/* 이전, 제출 버튼 스타일 */
.steps-action .ant-btn {
  margin-right: 10px; /* 버튼들 사이 간격 추가 */
}

/* 서명하기 버튼 스타일 */
.gradient-button-container {
  margin-top: 20px; /* 서명하기 버튼과 폼 사이에 간격 추가 */
  text-align: center; /* 버튼을 중앙에 배치 */
}
