/* src/components/SendFriendRequest.css */

body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5; /* 페이지 배경색 설정 */
}

/* 카드와 배경을 중앙에 배치하는 스타일 */
.card-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  background: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  margin-top: 5px; /* 상단 여백 추가 */
}

.user-title {
  display: block;
  text-align: center;
}

.friend-requests {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* 각 친구 요청 항목 간의 간격 */
}
/* 
.friend-request {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* 친구 요청 항목 간의 간격 */
/* } */
*/ .friend-request:last-child {
  border-bottom: none; /* 마지막 항목의 하단 경계선 제거 */
}

.friend-request .friend-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.friend-request .friend-info img {
  width: 70px; /* 프로필 이미지 크기 설정 */
  height: 70px;
  border-radius: 50%;
  margin-right: 10px; /* 이미지와 텍스트 사이의 간격 */
}

.friend-request-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.friend-request-button {
  flex: 1;
  margin: 0 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; /* 버튼 높이 설정 */
  font-size: 16px;
}

.friend-request-buttons .accept-button {
  background-color: #1890ff;
  border-color: #1890ff;
  color: white;
}

.friend-request-buttons .reject-button {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  color: white;
}
