@import url("https://webfontworld.github.io/seoulhangang/SeoulHangangC.css");
@font-face {
  font-family: "SeoulHangangC";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SeoulHangangC";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SeoulHangangC";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBold.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SeoulHangangC";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCBlack.ttf")
      format("truetype");
  font-display: swap;
}

body {
  font-family: "SeoulHangangC", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.ant-layout-content {
  padding: 0;
}

.ant-avatar-group {
  margin: 0 auto;
}

.ant-calendar {
  border-radius: 16px;
  overflow: hidden;
  width: 500px;
  height: 800px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

body {
  background-color: #f0f2f5;
}

.avatar-group-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden; /* 스크롤바 제거 */
  margin-bottom: -5px;
  padding: 10px 0;
  white-space: nowrap;
}

.ant-avatar {
  margin: 0 4px;
}

.avatar-wrapper {
  flex: 0 0 auto; /* 아바타가 줄 바꿈되지 않도록 설정 */
  margin-right: 10px; /* 아바타 간 간격 설정 */
  margin-bottom: 15px;
}

.text-d-day-wrapper {
  position: relative;
  text-align: left;
  margin-bottom: 40px;
  padding-bottom: 0; /* Add padding to avoid overlap */
}

.text-d-day-wrapper.has-avatars::before {
  content: "";
  position: absolute;
  top: -10px; /* 위쪽에 위치시키기 */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d3d3d3;
  z-index: 1;
}

.text-d-day {
  font-family: "SeoulHangangC", sans-serif;
  font-size: 24px;
  font-weight: 900;
  display: inline-block;
  text-align: left;
  margin-bottom: 0px;
  background-color: #fff; /* Ensure text background is consistent */
  padding: 5px 0;
}

.avatar-group-container.has-avatars {
  padding-bottom: 30px; /* 회색 선과 아바타 사이에 공간 추가 */
}
.text-quote {
  font-family: "SeoulHangangC", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
}

/* 중앙에 컨텐츠를 배치하는 스타일 */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 */
  height: calc(
    100vh - 60px
  ); /* 네비게이션 바의 높이를 고려하여 전체 높이를 줄임 */
  padding-top: 20px; /* 네비게이션 바와의 간격 */
}

.main-content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* 최대 너비를 설정 */
  padding: 0 20px; /* 좌우 여백 */
  box-sizing: border-box;
}

.main-content {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff; /* 배경 색상 추가 */
  border-radius: 8px; /* 테두리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.header {
  margin: 0 0 20px 0; /* 상단 마진을 없애기 위해 margin-top을 0으로 설정 */
  font-size: 40px;
  font-weight: bold;
}

.category-select {
  margin-bottom: 30px;
}

.sub-header {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}

.upload-section {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  margin-bottom: 30px; /* Add margin bottom to create space for description */
}

.upload-container {
  width: 600px;
  height: 600px;
}

.description {
  margin-bottom: 20px;
}

.submit-button {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  margin-top: 20px;
}

.ant-progress {
  margin-top: -25px; /* Progress 바와 텍스트 간의 간격 */
}

.custom-calendar .react-datepicker__day--selected,
.custom-calendar .react-datepicker__day--in-selecting-range,
.custom-calendar .react-datepicker__day--in-range {
  background-color: #274c77;
  color: white;
}

.custom-calendar .react-datepicker__day {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blank-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f0f2f5;
  margin-top: 20px;
  border-radius: 4px;
}

.date-info {
  margin-bottom: 5px; /* 각 div 사이에 공간을 추가 */
  font-family: "SeoulHangangC", sans-serif; /* 폰트 설정 (옵션) */
  font-size: 25px; /* 글씨 크기 설정 (옵션) */
}
